/* Color oscuro de contenedor de menus*/

.oscuro {
  background-color: rgba(68, 68, 68, 1.0) !important;
}

/*Sin Borde para las listas*/

.SBor {
  border: 0px;
}

/*Titulos al centro*/

.tcent {
  text-align: center;
}

/*Extender header*/

.expanded {
  height: 50px;
}
.ext-header {
  top: 20px !important;
}
.title-image {
  margin-top: 8px;
  height: 27px;
}
/*Tamaño de icon*/
 .iconSiz{
    font-size: 160px;
}
/*FUENTE*/
@font-face {
    font-family: 'QuicksandRegular';
    src: url('fonts/QuicksandRegular.eot');
    src: url('fonts/QuicksandRegular.eot') format('embedded-opentype'),
         url('fonts/QuicksandRegular.woff2') format('woff2'),
         url('fonts/QuicksandRegular.woff') format('woff'),
         url('fonts/QuicksandRegular.ttf') format('truetype'),
         url('fonts/QuicksandRegular.svg#QuicksandRegular') format('svg');
}
@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/QuicksandBold.eot');
    src: url('fonts/QuicksandBold.eot') format('embedded-opentype'),
         url('fonts/QuicksandBold.woff2') format('woff2'),
         url('fonts/QuicksandBold.woff') format('woff'),
         url('fonts/QuicksandBold.ttf') format('truetype'),
         url('fonts/QuicksandBold.svg#QuicksandBold') format('svg');
}


/*---------------*/
.ftodo{
    font-family:  'QuicksandRegular';

}
.titulo{
  font-family: 'QuicksandBold';
}
.boton{
  font-family: 'QuicksandRegular';
  font-size: 90px;
}
/**/
.leaflet-div-icon{
  background-color: black;
  border: 6px solid blue;

}
path {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: rgba(2, 13, 83, 0.6);
    stroke-width: 6px;
    fill: none;
}
